body,
html {
  margin: 0;
  padding: 0;

  background-image: url("/image/bg/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}