.home-logo {
  width: 50%;
}

.nav-logo {
  width: 10%;
  background-color: black;
  border-radius: 10px;
}

.nav-text {
  color: white !important;
  font-size: 16px !important;
}

.nav-text:hover {
  font-size: 18px;
  font-weight: bold;
}

.img-banner {
  height: 12rem;
  width: 12rem;
}

.img-banner img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.box {
  box-sizing: border-box;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box i {
  height: 100%;
  margin-top: 2px;
}

.action-section {
  display: flex;
  justify-content: center;
}

.col a,
.col-10 a {
  text-decoration: none;
}

.pos-sticky {
  position: sticky !important;
  top: 0;
}

.btn-kithara {
  padding: 0.5rem 5rem !important;
  /* width: fit-content; */
  white-space: nowrap;
  font-size: 16px;
  background-color: white !important;
  color: black !important;
  border-radius: 20px !important;
  border: 1px solid black !important;
  transition: 0.4s all !important;
}

.btn-kithara:hover {
  background-color: rgb(88, 59, 5) !important;
  color: white !important;
}

@media screen and (min-width: 900px) {
  .img-banner {
    width: 15vw;
    height: 35vh;
  }

  .img-banner img {
    object-fit: fill;
    height: 100%;
    /* width: 700px; */
  }

  .container-sm {
    width: 900px !important;
  }
}