.img-banner {
  height: 25vh;
  width: 50vw;
}

.img-banner img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.box {
  box-sizing: border-box;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box i {
  height: 100%;
  margin-top: 2px;
}

.action-section {
  display: flex;
  justify-content: center;
}

.col a,
.col-10 a {
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .img-banner {
    width: 700px;
  }

  .img-banner img {
    object-fit: fill;
    height: 100%;
    width: 700px;
  }

  .container-sm {
    width: 900px !important;
  }
}