.home-logo {
  width: 50%;
}

.img-banner {
  height: 25vh;
  width: 45vw;
}

.img-banner img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.box {
  box-sizing: border-box;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box i {
  height: 100%;
  margin-top: 2px;
}

.action-section {
  display: flex;
  justify-content: center;
}

.col a,
.col-10 a {
  text-decoration: none;
}

.pos-sticky {
  position: sticky !important;
  top: 0;
}

@media screen and (min-width: 900px) {
  .img-banner {
    width: 15vw;
    height: 35vh;
  }

  .img-banner img {
    object-fit: fill;
    height: 100%;
    /* width: 700px; */
  }

  .container-sm {
    width: 900px !important;
  }
}